body {
    background-color: #f5f5dc;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

h1,
h2,
h3 {
    color: #cc5500;
    margin-top: 30px;
    font-size: 35px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 40px 0;
}

h3 {
    font-size: 20px;
}